<div
  class="container-fluid header-nav w-100 p-0 sticky-top"
  ng-app="app"
  ng-controller="controller"
>
  <nav class="navbar navbar-expand-lg navbar-dark arg-programa">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        href="http://argentinaprograma.inti.gob.ar/"
        target="_blank"
      >
        <img src="/assets/APLogo-20-20.png" />
      </a>
      <button
        class="navbar-toggler navbar-dark collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
      >
        <span class="navbar-toggler-icon navbar-dark"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link nb sobre-mi" href="#sobre-mi">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nb educacion" href="#educacion">Educación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nb experiencia" href="#experiencia"
              >Experiencia</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link nb habilidades" href="#habilidades"
              >Habilidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link nb proyectos" href="#proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nb contacto" href="#contacto">Contacto</a>
          </li>
        </ul>
        <span class="navbar-text">
          <login></login>
        </span>
      </div>
    </div>
  </nav>
</div>
