#contacto {
  background: #240046;
  height: fit-content;
  box-shadow: 0 10px 50px rgba(0, 0, 0);
}

.row-items {
  margin-bottom: 2%;
}

.logo {
  width: 35%;
  filter: invert();
  transform: translateY(0);
  transition: 0.2s;
}

.logo:hover {
  transform: translateY(7px);
  transition: 0.5s;
}

.subtitle {
  opacity: 0.6;
}

a {
  color: white;
  text-decoration: none;
}
