#sobre-mi {
  padding-top: 0;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: justify;
  background: #3c096c;
}

img {
  width: 200px;
  height: 200px;
  min-width: 200px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.5s;
}

p {
  font-size: 20px;
}

.col-2 {
  min-width: min-content;
}

@media screen and (orientation: portrait) {
  #sobre-mi {
    height: 100vh;
  }
}
