@keyframes fade {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 100;
  }
}

#info {
  vertical-align: middle;
  text-align: center;

  width: 100%;
  text-shadow: 1px 1px 2px black;
  font-family: "Space Mono", monospace;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #240046;
}

h1 {
  font-size: 64px;
}

p {
  color: #c77dff;
  font-size: 24px;
  animation-name: fade;
  animation-duration: 2s;
}

.img {
  width: 300px;
  min-width: 200px;
  border-radius: 50%;
  object-fit: cover;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

@media screen and (orientation: portrait) {
  #info {
    height: 100vh;
  }
}

@media screen and (orientation: landscape) {
  #info {
    height: 60vh;
  }
}
